.gridContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.gameContainer{
  flex-direction: row;
}

.board {
  display: grid;
  grid-template-columns: repeat(8, 60px); 
  gap: 5px; 
}

.cell {
  width: 60px;
  height: 60px;
  font-size: 16px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sideBar{
  width: 50px;
  height: 100px;
  border: 2px solid #181414;
}